<header class="pokeNavBar row align-items-center">
    <div class="col-6">
        <a class="toggle-sidebar" (click)="clickSideBar()"><i class="fa fa-bars"></i></a>
        <img class="nav-bar-pokemon-titulo" src="../../../../assets/img/pokemon_titulo.png">
    </div>
    <div class="col-6 row align-items-center">

        <app-top-search-form class="col-6"></app-top-search-form>

        <div class="col-6 user-icon">
            <a class="link-profile">
              <img *ngIf="user.photoUrl" [src]="user?.photoUrl">
              <img *ngIf="!user.photoUrl" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
            </a>
        </div>

    </div>
</header>
