
<div class="">
    <h2>Colecciones</h2>
</div>
<button (click)="open(content)" class="btn btn-primary pull-right btn-create-collection">+ Crear Colección</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-collection-create [typeForm]="'create'" (closeModal)= "closeModal($event)" ></app-collection-create>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-collection-create [typeForm]="'edit'" [selectedCollection]="selectedCollection" (closeModal)= "closeModal($event)" ></app-collection-create>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- let collecion of collections; index as i" -->
    <tr *ngFor="let collecion of collections | paginate: { itemsPerPage: 5, currentPage: p }; index as i ">
      <th scope="row">{{i + 1}}</th>
      <td>{{collecion?.data?.nameCollection}}</td>
      <td>{{collecion?.data?.descriptionCollection}}</td>
      <td>
        <a [routerLink]="['../collection', collecion?.key]" class="btn btn-success btn-sm btn-detail-collection"><i class="fa fa-eye"></i></a>
        <button  (click)="editSelectedCollection(collecion, contentEdit)"  class="btn btn-primary btn-sm btn-edit-collection"><i class="fa fa-pencil"></i></button>
        <button (click)="deleteSelectedCollection(collecion)" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></button>
      </td>

    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

