
<div class="pokemon-title">
  <h2>{{_poke?.name}}</h2>
</div>
<div class="row">
  <div class="col-6">
      <div class="pokemon-info pxl-border">
        <strong>Experiencia:</strong> {{_poke?.base_experience}} xp <br />
        <strong>Altura:</strong> {{_poke?.height}} <br />
        <strong>Peso:</strong> {{_poke?.weight}} Kg <br />
        <strong>Tipo:</strong> <br />
        <div *ngFor = "let type of _poke?.types" class="type-card">
          <div class="type-card {{type?.type.name}}">
              <span >{{type?.type.name}}</span>
          </div>
        </div>
        <br />
        <br />
        <strong>Habilidades: </strong><br />
        <div class="card-pokemon-abilities">
            <div *ngFor = "let ability of _poke?.abilities" class="ability-card">
              {{ability.ability?.name}}
            </div>
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card-pokemon">
          <div *ngIf ="_poke == null" class="preloader"></div>

          <img class="img-pokemon" src="{{_poke?.sprites.front_default}}">

          <div class="offset-9">
            <div class="row pokemon-icons">
                <div class="pokemon-icon favorite" *ngIf="_poke?.isFavorite === true">
                    <img  (click)="removeFavorite(_poke)" src="../../../../assets/img/favorite_black.png" alt="añadir a favorito">
                </div>
                <div class="pokemon-icon favorite" *ngIf="_poke?.isFavorite === false">
                    <img (click)="addFavorite(_poke)" src="../../../../assets/img/favorite_border_black.png" alt="añadir a favorito">
                </div>
                <div class="pokemon-icon">
                    <img (click)="open(contentAddToCollection)" src="../../../../assets/img/pokeball.png" alt="añadir a colección">
                </div>
            </div>
          </div>
      </div>
    </div>
</div>

<ng-template #contentAddToCollection let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar pokemón a una Colección</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-poke-add-to-collection [selectedPokemon]="_poke?.name" (closeModal)= "modal.close('Close click')" ></app-poke-add-to-collection>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

