
<div class="collection-name">
    <h2>{{collectionName}}</h2>
    <hr />
</div>
<div class="collection-description">
  <p>{{collectionDescription}}</p>
</div>

<div class="row" id="books">
    <div *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 3, currentPage: p }" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <app-collection-detail-list-card [poke]="pokemon"></app-collection-detail-list-card>
    </div>
    <div class="no-results" *ngIf="pokemons?.length === 0">
      <h5>{{message}}</h5>
    </div>
</div>
<div class=" col-12 text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

