
<div class="card card-pokemon">
    <a *ngIf ="_poke" [routerLink]="['../detail', _poke?.name]">
      <div class="img-card-pokemon">
          <img class="card-img-top" src="{{_poke?.sprites.front_default}}" alt="Card image cap">
      </div>
    </a>

    <div class="card-body">
      <div class="row">
          <div class="col-8">
              <h5 class="card-title card-title-pokemon align-middle">{{_poke?.name}}</h5>
          </div>

          <div class="row card-pokemon-icons">
              <div class="card-pokemon-icon favorite" *ngIf="_poke?.isFavorite === true">
                  <img  (click)="removeFavorite(_poke)" src="../../../../assets/img/favorite_black.png" alt="añadir a favorito">
              </div>
              <div class="card-pokemon-icon favorite" *ngIf="_poke?.isFavorite === false">
                  <img (click)="addFavorite(_poke)" src="../../../../assets/img/favorite_border_black.png" alt="añadir a favorito">
              </div>
              <div class="card-pokemon-icon">
                  <img src="../../../../assets/img/pokeball.png" alt="añadir a colección">
              </div>
          </div>


      </div>

      <div class="card-pokemon-abilities">
        <div *ngFor = "let ability of _poke?.abilities" class="ability-card">
          {{ability.ability?.name}}
        </div>
      </div>
      </div>
</div>

